<div class="mb-4 flex flex-col justify-between gap-3 sm:flex-row">
  <div
    class="h-9 w-full rounded bg-white sm:w-1/2"
    [class]="searchFocus ? 'border-primary border-2 p-0' : 'border p-px'"
    title="Search by id, email or username">
    <div class="flex h-full items-center justify-between gap-2 px-2">
      <mat-icon class="text-gray-200" fontIcon="search" />
      <input
        type="text"
        class="w-full text-sm text-dark outline-none"
        placeholder="Search..."
        [formControl]="searchControl"
        (focus)="searchFocus = true"
        (blur)="searchFocus = false" />
      <mat-icon
        *ngIf="searchControl.value"
        class="cursor-pointer text-gray-200"
        (click)="clearSearch()"
        fontIcon="clear" />
    </div>
  </div>

  <button mat-flat-button color="primary" (click)="openUserEditor()">Add user</button>
</div>

<div *ngIf="users$ | async as users" class="overflow-hidden rounded border bg-white pb-2 sm:pb-0">
  <div class="overflow-x-auto border-b">
    <table mat-table [dataSource]="users" class="whitespace-nowrap bg-transparent">
      <ng-container matColumnDef="avatar" sticky>
        <th
          mat-header-cell
          *matHeaderCellDef
          class="bg-gradient-to-r from-white via-white via-80%"></th>
        <td
          mat-cell
          *matCellDef="let element"
          class="bg-gradient-to-r from-white via-white via-80%">
          <div class="h-10 w-10">
            <img
              [src]="element.avatar || '/assets/avatar_placeholder.png'"
              class="h-full w-full rounded-full border bg-white object-cover"
              alt="{{ element.user }} avatar" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="text-center">Admin Role</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon class="mx-auto sm:mx-0" [appBoolIcon]="element.role === adminRole" />
        </td>
      </ng-container>

      <ng-container matColumnDef="google">
        <th mat-header-cell *matHeaderCellDef class="text-center">Google Sign In</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon class="mx-auto sm:mx-0" [appBoolIcon]="element.google" />
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th
          mat-header-cell
          *matHeaderCellDef
          class="bg-gradient-to-l from-white via-white via-80%"></th>
        <td
          mat-cell
          *matCellDef="let element"
          class="bg-gradient-to-l from-white via-white via-80% text-right">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item [cdkCopyToClipboard]="element.uid">
              <mat-icon>content_copy</mat-icon>
              <span>Copy id</span>
            </button>

            <button mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span class="text-warn">Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    showFirstLastButtons
    [pageSizeOptions]="pageSizeOptions"
    [length]="paginator.length"
    [pageSize]="paginator.pageSize"
    [pageIndex]="paginator.pageIndex"
    (page)="onChangePaginator($event)">
  </mat-paginator>
</div>
