<ng-container *ngIf="user$ | async as user">
  <mat-sidenav-container class="h-full">
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="isMobile === false"
      class="bg-primary">
      <mat-nav-list class="flex h-full w-60 flex-col p-0">
        <mat-list-item class="h-16">
          <div matListItemIcon class="m-2 h-12 w-12">
            <img
              class="h-full w-full rounded-full bg-white object-cover"
              [src]="user.avatar || '/assets/avatar_placeholder.png'"
              alt="{{ user.username }} avatar" />
          </div>
          <div matListItemTitle class="-mt-1 text-white">{{ user.username }}</div>
          <div matListItemLine class="text-white/50">{{ user.email }}</div>
        </mat-list-item>

        <a
          mat-list-item
          *ngFor="let item of sidenavList$ | async"
          class="h-16"
          [routerLink]="item.link"
          routerLinkActive="bg-black/10"
          [routerLinkActiveOptions]="{ exact: true }"
          (isActiveChange)="isActiveChange($event, item)"
          (click)="isMobile && sidenav.close()">
          <div class="flex gap-3 text-white">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.title }}</span>
          </div>
        </a>

        <span class="grow"></span>

        <mat-list-item class="h-16" (click)="logout(user)">
          <div class="flex gap-3 text-white">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="justify-between bg-primary md:border-b md:bg-white">
        <h1 class="ml-2 text-white md:text-dark">{{ pageTitle }}</h1>
        <button mat-icon-button class="block md:hidden" (click)="sidenav.toggle()">
          <mat-icon class="text-white">menu</mat-icon>
        </button>
      </mat-toolbar>

      <div class="mx-auto p-4 sm:py-8">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
