<div class="flex min-h-screen items-center justify-center">
  <div class="w-full max-w-xs rounded border bg-white p-10 sm:max-w-sm">
    <div class="mb-5">
      <h1 class="mat-h1 text-center">Angular REST Client</h1>
      <hr />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
        <mat-error />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="false">Login</button>
    </form>
  </div>
</div>
