@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @apply text-gray-800;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.toast-container .ngx-toastr {
  @apply bg-white bg-none p-0 text-sm text-gray-800;
}

.toast-close-button {
  @apply !right-2 !top-1;
}

.toast-title {
  @apply text-sm;
}

.toast-message {
  @apply px-3 py-2 text-sm;
}

.toast-error .toast-title {
  @apply bg-red-700 px-3 py-1 text-white;
}
